#heading {
	font-size: 40px;
	text-align: left;
}

select {
	height: 30px;
	width: 150px;
	text-align: center;
}

body {
	font-family: sans-serif;
	color: #404040;
	align: center;
	text-align: center;
	margin-top: 50px;
}

td {
	border: 1px solid #b2bbc0;
	border-collapse: collapse;
	padding: 5px;
}

#table1 {
	width: 180px;
	height: 100px;
	position: relative;
	left: 40%;
	border: 1px solid #b2bbc0;
	border-collapse: collapse;
}

#submit {
	width: 70px;
	height: 30px;
	text-align: center;
	font-size: 15px;
	padding: 2px;
	cursor: pointer;
}

#continue {
	text-align: center;
	padding: 3px;
	cursor: pointer;
}

input[type=text] {
	width: 70px;
	height: 20px;
	cursor: auto;
	background-color: "#ffffff";
}

#right {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 20px;
	padding: 10px;
}

#result {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 20px;
	padding: 10px;
}

#newtypes{
	margin: 5px;
}

#submit2 {
	width: 70px;
	height: 30px;
	text-align: center;
	font-size: 15px;
	padding: 2px;
	cursor: pointer;
}